<h1>Articles</h1>

<table border="1">
    <thead>
        <th>Title</th>
        <th colspan="2">Action</th>
    </thead>
  <% @articles.each do |article| %>
    <tbody>
        <td><%= link_to article.title, article %></td>
        <td><%= link_to "Edit", edit_article_path(article) %></td>
        <td><%= link_to "Destroy", article_path(article), data: { 
            turbo_method: :delete,
            turbo_confirm: 'Are you sure to delete this article?'
         } %></td>
    </tbody>
  <% end %>
</table>

<%= link_to "New Article", new_article_path %>