<h1>Welcome! Content below are loaded asynchronously.</h2>
<div id="display_message_content"
     data-controller="content-loader"
     data-content-loader-url-value="/pages/messages"
     data-content-loader-refresh-interval-value="3000">
</div>