<h1>Welcome! Content below are loaded asynchronously.</h2>

<!--
<div id="display_message_content"
     data-controller="content-loader"
     data-content-loader-url-value="/pages/messages"
     data-content-loader-refresh-interval-value="3000">
</div>
-->

<div data-controller="content-loader">
  <a href="javascript:void(0)" data-content-loader-url-param="/pages/messages" data-action="content-loader#load">Messages</a>
  <a href="javascript:void(0)" data-content-loader-url-param="/pages/comments" data-action="content-loader#load">Comments</a>
</div>